<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artify - Change password</title>

    <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/edit.css">
</head>
<body>
    <header>
        <h1>Artify</h1>
        <ul class="main-nav">
            <li>Discover</li>
            <li>Forum</li>
            <li>My Profile</li>
        </ul>
        <a class="logout" href="/logout">Log out</a>
    </header>

    <form action="/users/<%= user.id %>/password" method="post" class="editing-form">

        <h3>Change password:</h3>
        <div class="general-info">
            <label for="id" hidden>ID:</label>
            <input type="text" name="id" id="id" value="<%= user.id %>" hidden>
            <label for="password" hidden>Password:</label>
            <input type="password" name="password" id="password" minlength="3" placeholder="New password" required>
        </div>
        
        <div class="buttons">
            <button class="save-button" onclick="window.location.href ='/users/<%= user.id %>/password';">Save changes</button>
            <a class="cancel-button" href="/users/<%= user.id %>">Cancel</a>
        </div>
        
    </form>
    <div class="buffer"></div>

</body>
</html>