<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artify - Discover</title>

    <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/display.css">
</head>
<body>
    <header>
        <h1>Artify</h1>
        <ul class="main-nav">
            <li class="selected" onclick="window.location.href = '/discover'">Discover </li>
            <li>Forum</li>
            <li onclick="window.location.href = '/users/<%=ID%>'">My Profile</li>
        </ul>
        <a class="logout" href="/logout">Log out</a>
    </header>

    <main>
        <div class="gallery">
            <% for(let i = 0; i < pictures.length; i++) { %>
                <div class="image">
                    <img onclick="window.location.href = '/users/<%= pictures[i].id %>/gallery/<%= pictures[i].pid %>'" src="/public/uploads/pictures/<%= pictures[i].picturename %>" alt="picture">
                </div>
            <% } %>
        </div>
    </main>
</body>
</html>