<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artify - Homepage</title>

    <link rel="stylesheet" type="text/css" href="/public/main.css">
</head>
<body>
    <header>
        <h1>Artify</h1>
        <span>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </span>
    </header>

    <h2>Want to see more like this? <a href="/register">Join today!</a></h2>
</body>
</html>