<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artify - Artwork</title>

    <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/display.css">
</head>
<body>
    <header>
        <h1>Artify</h1>
        <ul class="main-nav">
            <li>Discover</li>
            <li>Forum</li>
            <li onclick="window.location.href = '../'">My Profile</li>
        </ul>
        <a href="/logout">Log out</a>
    </header>
    
    <main>
        <img src="/public/uploads/pictures/<%= picture.picturename %>" alt="picture" id="image">
        <h3><%= picture.username %></h3>
        <p><%= picture.description %></p>
    </main>
</body>
</html>