<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artify - Register</title>

    <link rel="stylesheet" type="text/css" href="/public/registerLogin.css">
</head>
<body>
    <h1 onclick="window.location.href = '/'">Artify</h1>
    
    <div class="access-form">
        <div class="links">
            <a href="/login">Log in</a>
            <a href="/register" id="selected">Sign up</a>
        </div>
        <form action="/register" method="post">
            <input type="text" name="username" id="username" placeholder="Username" required>
            <input type="email" name="email" id="email" placeholder="Email" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="submit" value="Register"><br>
        </form>
        <p>After signing up, log in with your credentials to activate your account.</p>
    </div>
</body>
</html>