<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artify - New artwork</title>

    <link rel="stylesheet" type="text/css" href="/public/main.css">
    <link rel="stylesheet" type="text/css" href="/public/editUser.css">
</head>
<body>
    <header>
        <h1>Artify</h1>
        <ul class="main-nav">
            <li>Discover</li>
            <li>Forum</li>
            <li onclick="window.location.href = './'">My Profile</li>
        </ul>
        <a href="/logout">Log out</a>
    </header>

    <h3>Add a new post</h3>
    <form action="/users/<%= user.id %>/gallery" method="post" class="editing-form" enctype="multipart/form-data">
        <label for="picture">Choose a picture</label>
        <input type="file" name="picture" id="picture" accept="image/*">
        <label for="description" hidden>Description:</label>
        <textarea name="description" id="description" placeholder="Add a description of your work (optional)"></textarea>
        <div class="buttons">
            <a class="cancel-button" href="./">Cancel</a>
            <input class="save-button" type="submit" value="Publish">
        </div>
    </form>
</body>
</html>