html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    text-align: center;
    letter-spacing: 0.5px;
    background-image: linear-gradient(rgb(44, 44, 46), rgb(108, 108, 110));
    background-attachment: fixed;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

h1 {
    font-style: italic;
    font-size: 64px;
    padding: 10px 0 20px;
    margin: 0 2%;
}

h2 {
    position:fixed;
    top: 50%;
    width: 100%;
}

a {
    color: aliceblue;
    font-size: 1.8rem ;
    font-weight: 700;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

header {
    background-image: linear-gradient(rgb(105, 77, 241), rgb(127, 103, 248));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

