.user {
    border-radius: 20px;
    border: 5px solid;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 80% 20%;
    margin: 20px;
    padding: 30px;
    text-align: left;
}
.user p {
    font-size: 1.1rem;
    margin: 0;
    padding: 10px;
}

#username {
    font-weight: bold;
}

.profile-pic {
    background-color: gray;
    border-radius: 90px;
    grid-column: 2;
    height: 180px;
    justify-self: right;
    object-fit: cover;
    width: 180px;
}

#bio {
    background-color: aliceblue;
    border-radius: 10px;
    color: black;
    grid-column: span 2;
    grid-row: 2;
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


form {
    display: inherit;
}


.upload-button {
    background-color: rgb(90, 66, 195);
    color: aliceblue;
    width: 170px;
}

.edit-button {
    background-color: rgb(90, 66, 195);
    color: aliceblue;
}

.edit-button-2 {
    background-color: rgb(130, 109, 222);
    color: aliceblue;
}

.upload-button:hover, .edit-button:hover {
    background-color: rgb(64, 45, 148);
}
.edit-button-2:hover {
    background-color: rgb(106, 81, 219);
}

.popup {
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 5px 10px 15px rgb(55, 55, 55);
    color: black;
    margin: auto;
    padding: 20px;
    position: relative;
    width: 400px;
    display: none;
}
#delete {
    background-color: rgb(215, 54, 54);
    color: white;
}
#delete:hover {
    background-color: rgb(175, 39, 39);
}
#cancel {
    background-color: rgb(184, 184, 189);
    color: white;
}
#cancel:hover {
    background-color: rgb(158, 158, 160);
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 10px;
    padding: 20px;
}
.gallery::after {
    content: "";
    flex-grow: 10;
}

.image {
    height: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
.image:hover {
    cursor: pointer;
    transform: scale(0.95);
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 30px;
}
.content h3 {
    margin: 0;
}
.content h3:hover {
    cursor: pointer;
}

#image {
    max-width: 1000px;
}

.image-info {
    text-align: left;
    max-width: 1000px;
}



@media screen and (max-width: 800px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 600px) {
    .user {
        grid-auto-rows: auto;
        grid-template-columns: 50%;
    }

    .general-info {
        grid-column: span 2;
        grid-row: 2;
        text-align: center;
    }

    .profile-pic {
        grid-column: span 2;
        grid-row: 1;
        justify-self: center;
    }

    #bio {
        grid-row: 3;
    }

    .gallery {
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .image {
        height: auto;
    }

    .content {
        margin: 0;
        padding: 30px 0;
    }
    .image-info {
        padding: 0 10px;
    }
}