.user {
    border-radius: 20px;
    border: 5px solid;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 80% 20%;
    margin: 20px;
    padding: 30px;
    text-align: left;
}
.user p {
    font-size: 1.1rem;
    margin: 0;
    padding: 10px;
}


#profile-pic {
    border-radius: 90px;
    grid-column: 2;
    height: 180px;
    justify-self: right;
    width: 180px;
}

#bio {
    background-color: aliceblue;
    border-radius: 10px;
    color: black;
    grid-column: span 2;
    grid-row: 2;
    margin-top: 20px;
}

.delete-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: aliceblue;
    position: relative;
    font-weight: bold;
    width: 15%;
    border: none;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    border-radius: 10px;
    padding: 1%;
    margin: 10px 15px;
    box-shadow: -2px -3px rgb(200, 198, 206), 2px 3px 7px rgb(73, 56, 125);
    /* box-shadow: none; */
}


#image {
    width: 900px;
}



@media screen and (max-width: 1200px) {
    
}